<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Font Awesome -->
<link
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
rel="stylesheet"
/>
<!-- Google Fonts -->
<link
href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
rel="stylesheet"
/>
<!-- MDB -->
<link
href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css"
rel="stylesheet"
/>
</head>
<!-- MDB -->
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"
></script>
<body>
    <section class="h-100 h-custom" style="background-color: #8fc4b7;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-8 col-xl-6">
              <div class="card rounded-3">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f4/View_of_the_12th_arrondissement_of_Paris_at_night_from_Les_Docks%2C_cit%C3%A9_de_la_mode_et_du_design_-_2022-08-14.jpg/1200px-View_of_the_12th_arrondissement_of_Paris_at_night_from_Les_Docks%2C_cit%C3%A9_de_la_mode_et_du_design_-_2022-08-14.jpg"
                  class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
                  alt="Sample photo">
                <div class="card-body p-4 p-md-5">
                  <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Login</h3>
      
                  <form action="/login" method="post" class="px-md-2">
      
                    <div class="row">
                        <div class="form-outline mb-4">
                            <input type="email" id="user_email" name="user_email" class="form-control" />
                            <label class="form-label" for="user_email">Email</label>
                          </div>
            
                          <div class="row">
                            <div class="form-outline mb-4">
                                <input type="password" id="password" name="password" class="form-control" />
                                <label class="form-label" for="password">Password</label>
                              </div>
      
                    <button type="submit" class="btn btn-success btn-lg mb-1">Submit</button>
                    <a href="signup" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">Sign Up</a>
      
                  </form>
      
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</body>
</html>